.footer {
   background-color: brown;
   display: flex;
   justify-content: space-around;
   /* padding: 10px; */
   align-items: center;
}


.buttons{
display: flex;

}

li{
list-style: none;
padding: 0px 10px;
}

a{
   text-decoration: none;
   color: aqua;
}