/* .tour {
    background-color: rgb(154, 154, 228);
    display: flex;
    flex-direction: column;
    /* height: 150px; */
    align-items: center;
}

.imgs {
    height: 200px;
    width: 300px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    border-radius: 5px;
    box-shadow: 50px;
}

.two{
    width: 40%;
    background-color: rgb(199, 97, 97);

margin: 10px 0px;
padding-top: 20px;
border-radius: 30px;
box-shadow: 10px 5px 5px;
} */